
//base-styles

ul,ol,li {
    margin: 0 !important;
    padding: 0;
}

body {
    background: $default-body-color;
    font-size: 16px;
}

.layout-padding {
    padding: 75px 0;
}

h1 {
    font-size: 4rem;
}