.main-body {
    &__contact {
         background: $secondary-color;

        &__title {
            text-align: center;
            padding-bottom: 20px;
            color: $white-color;
        }

        &__form {

            &__input {
                display: block;
                width: 50%;
                @include breakpoint(xs) {
                    width: 100%;
                }
                margin: auto;
                padding: 5px 0px;
                margin-top: 15px;
            }
            &__hidden {
                display: none;
            }

            &__submit {
                display: block !important;
                width: 50%;
                @include breakpoint(xs) {
                    width: 100%;
                }
                margin: auto;
                margin-top: 30px;
            }

            &__label {
                color: $white-color;
            }
        }

        label {
            width: 50%;
            @include breakpoint(xs) {
                width: 100%;
            }
            margin: auto;
            display: block;
            padding-top: 15px;

            span {
                color: #ff0000;
                font-size: 20px;
                padding-left: 4px;
            }
        }
    }
}

