.main-body {

    &__content {
        padding: 75px 0;

        &__copy {
            max-width: 100%;
            margin: auto;
            text-align: center;

            h1 {
                padding-bottom: 20px;
            }
        }
    }
}