
// map styles

#map {
    height: 70vh;
    width: 100%;
}

.map {
    padding: 75px 0;
    background: $secondary-color;

    &__title {
        color: $white-color;
        text-shadow: $default-text-shadow;
        padding-bottom: 40px;
        text-align: center;
    }

    &__wrapper {
        max-width: 100%;
        margin: auto;
    }

    &__searcher {
        height: 70vh;
        width: 100%;
        background: $default-body-color;
        overflow-y: scroll;

        &__panel {
            padding: 20px;
            margin: 20px;
            color: white;
            background: $default-body-panel-color;
            box-shadow: $default-box-shadow;
        }

        &__overlay {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

             &::before {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                position: absolute;
            }

            &__text {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.2rem;
                padding: 20px;
                background: $navigation-color;
                color: $white-color;
                text-shadow: $default-text-shadow;
                box-shadow: $default-box-shadow;
                border-radius: 5px;

                p {
                    margin: 0;
                }
            }
        }

        &__hide {
            display: none;
        }

        &__show {
            display: block;
        }
    }
}
