
// map styles

#map {
    height: 70vh;
    width: 100%;
}

.map {
    padding: 75px 0;
    background: $secondary-color;

    &__title {
        color: $white-color;
        text-shadow: $default-text-shadow;
        padding-bottom: 40px;
        text-align: center;
    }

    &__wrapper {
        max-width: 100%;
        margin: auto;
    }

    &__searcher {
        height: 70vh;
        width: 100%;
        overflow-y: scroll;

        @include breakpoint(xs) {
            height: 100%;
        }

        &__panel {
            padding: 20px;
            margin: 20px;
            background: $default-body-panel-color;
            box-shadow: $default-box-shadow;
            color: $white-color;
        }

        &__overlay {
          
            &__text {
                font-size: 1.2rem;
                padding: 20px;
                background: $navigation-color;
                color: $white-color;
                text-shadow: $default-text-shadow;
                box-shadow: $default-box-shadow;
                border-radius: 5px;
                text-align: center;

                p {
                    margin: 0;
                }
            }
        }

        &__hide {
            display: none;
        }

        &__show {
            display: block;
        }
    }
}

.move {
    position: relative;
    left: 0%;
    transform: translatex(-38%);
    animation: slide 0.2s linear;

    @include breakpoint(lg) {
        animation: none;
        display: block;
        transform: none;
        position: unset;
    }
}

@keyframes slide {
    0%   { 
    transform: translate(0%);;
        }
    100% { 
        transform: translate(-36%);
        }
}