.packages {
    padding-top: 20px;

    &__panel {
        padding: 10px;
    }

    &__slick {

        &__slide {
            margin: auto;
            margin-right: 15px;
            margin-left: 15px;
            background-size: cover;
            height: 400px !important;
            transition: $default-transition;

            &__panel {
                text-shadow: $default-text-shadow;
                background: rgba(0,0,0,0.6);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px;

                &__text {
                    text-align: center;
                    color: $white-color;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &:hover {
                transform: scale(1.03);
            }
        }
    }
}

// package ids for images

#package-1 {
    background-image: url('../../assets/images/package-images/holiday-img-1.png');
}
#package-2 {
    background-image: url('../../assets/images/package-images/holiday-img-2.png');
}
#package-3 {
    background-image: url('../../assets/images/package-images/holiday-img-3.png');
}
#package-4 {
    background-image: url('../../assets/images/package-images/holiday-img-4.jpg');
}
#package-5 {
    background-image: url('../../assets/images/package-images/holiday-img-5.jpg');
}
#package-6 {
    background-image: url('../../assets/images/package-images/holiday-img-6.jpg');
}