
//main-body

.main-body {

    // about us 

    &__about-us {
        text-align: center;

        &__slick {

            &__slide {
                margin-left: 15px;
                margin-right: 15px;
                background: $secondary-color;
                padding: 10px;
                border-radius: 5px;
                color: white;
                text-shadow: $default-text-shadow;
                transition: $default-transition;
                box-shadow: $default-box-shadow;
            }
        }

        .slick-list {
            padding: 20px 50px !important;
        }

        .slick-center {
            transform: scale(1.1);
            background: lighten($secondary-color, 5%);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        }
    }
}

//package deals

.packages {
    padding-top: 75px;

    &__panel {
        padding: 10px;
    }

    &__slick {

        &__slide {
            margin: auto;
            margin-right: 15px;
            margin-left: 15px;
            background-size: cover;
            height: 400px !important;

            &__panel {
                text-shadow: $default-text-shadow;
                background: rgba(0,0,0,0.6);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px;

                &__text {
                    text-align: center;
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}