// VARIABLES //

//colours
$primary-color: #4ECDC4;
$secondary-color: #142628;
$tertiary-color: #1A535C;
$navigation-color: #FF6B6B;
$default-body-color: #F7fff7;
$white-color: #fff;

//styling
$default-text-shadow: 1px 1px #000;
$default-transition: all 0.2s ease-in-out;
$default-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);

//buttons

.btn {
    padding: 15px 30px;
    font-size: 20px;
    transition: $default-transition;
    text-shadow: $default-text-shadow;


    &--primary {
        background: $primary-color;
        color: lighten($default-body-color, 10%)  !important;

        &:hover {
            transform: scale(1.05);
        }
    }

    &--secondary {
        background: $navigation-color;
        color: lighten($default-body-color, 10%)  !important;

        &:hover {
            transform: scale(1.05);
        }
    }
}

//base-styles

ul,ol,li {
    margin: 0 !important;
    padding: 0;
}

body {
    background: $default-body-color;
}

.layout-padding {
    padding: 75px 0;
}

// map styles

#map {
    height: 50vh;
    width: 100%;
}

.map {
    padding-top: 90px;
    padding-bottom: 75px;
    background: $secondary-color;

    &__title {
        color: $tertiary-color;
        text-shadow: $default-text-shadow;
        text-align: center;
        padding-bottom: 40px;
    }

    &__wrapper {
        max-width: 80%;
        margin: auto;
    }

    .row {
        margin: 0;
    }
}

//overlay

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition: $default-transition;

  .show-overlay & {
    opacity: .8;
    visibility: visible;
  }
}

//main-header

.main-header {
    width: 100%;
    position: absolute;
    z-index: 1;

    &__nav {
        display: flex;
        list-style: none;
        padding: 20px 0;

        &__item {
            padding: 0 0 0 40px;
            font-size: 18px;

            a {
                color: $navigation-color;

                &:hover {
                    color: darken($navigation-color, 10%);
                    text-decoration: none;
                }
            }
        }
    }

    &__nav-bars {
        padding: 20px;

        i {
            color: $primary-color;
            font-size: 35px;

            &:hover {
                cursor: pointer;
            }
        }

    }
}

//hiden-nav (mobile/tablet)

.hidden-nav {
    background: $navigation-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 85%;
    max-width: 250px;
    height: 100%;
    transform: translateX(-110%);
    transition: $default-transition;
    box-shadow: $default-box-shadow;

    &__hide {
        opacity: 0;
        position: absolute;
        top: 0;
        right: -50px;
        font-size: 20px;
        transition: $default-transition;
        text-align: center;
        line-height: 50px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        visibility: hidden;
    }

    &__panel {
        overflow: hidden;
        height: 100%;

        &__inner {
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            scroll-behavior: smooth;
            height: 100%;
            widows: 110%;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__list {
            list-style: none;
            text-align:center;

            &__item {
                padding-top: 10px;
                a {
                 color: $tertiary-color;

                 &:hover {
                    color: darken($tertiary-color, 10%);
                    text-decoration: none;
                 }
                }
            }
        }

        &__image-nav {
            padding-top: 30px;

            &__image {
                height: 215px;
                margin: 15px;
                background-size: cover;
                background-position: center;

                p {
                    width: 100%;
                    padding: 10px 0;
                    background: $primary-color;
                    text-align: center;
                }
            }
        }
    }

    .open-nav & {
        transform: translateX(0%);

        &__hide {
            opacity: 1;
            visibility: visible;
        }
    }

    &__title {
        text-align: center;
        padding: 10px;
        font-size: 25px;
        color: white;
        text-shadow: $default-text-shadow;
    }
}

//main-body

.main-body {

    //top slider

    &__slick {

        &__slide {
            height: 100vh !important;
            background-position: center;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                position: absolute;
            }

            &__text {
                position: absolute;
                z-index: 1;
                color: white;
                top: 50%;
                text-align: center;
                left: 50%;
                transform: translate(-50%, -50%);

                a {
                    width: 55%;
                    margin-top: 10px;
                }
            }
        }
    }

    // introductory content

    &__content {
        padding: 75px 0;

        &__copy {
            max-width: 100%;
            margin: auto;
            text-align: center;

            h1 {
                padding-bottom: 20px;
            }
        }
    }

    // contact form
    
     &__contact {
         background: $secondary-color;

        &__title {
            text-align: center;
            padding-bottom: 20px;
            color: $white-color;
        }

        &__form {

            &__input {
                display: block;
                width: 50%;
                margin: auto;
                padding: 5px 0px;
                margin-top: 15px;
            }
            &__hidden {
                display: none;
            }

            &__submit {
                display: block !important;
                width: 50%;
                margin: auto;
                margin-top: 15px;
            }

            &__label {
                color: $white-color;
            }
        }

        label {
            width: 50%;
            margin: auto;
            display: block;
            padding-top: 15px;

            span {
                color: red;
                font-size: 20px;
                padding-left: 4px;
            }
        }
    }

    // about us 

    &__about-us {
        text-align: center;

        &__slick {

            &__slide {
                margin-left: 15px;
                margin-right: 15px;
                background: $secondary-color;
                padding: 10px;
                border-radius: 5px;
                color: white;
                text-shadow: $default-text-shadow;
                transition: $default-transition;
                box-shadow: $default-box-shadow;
            }
        }

        .slick-list {
            padding: 20px 50px !important;
        }

        .slick-center {
            transform: scale(1.1);
            background: lighten($secondary-color, 5%);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        }
    }
}

//package deals

.packages {
    padding-top: 75px;

    &__panel {
        padding: 10px;
    }

    &__slick {

        &__slide {
            margin: auto;
            margin-right: 15px;
            margin-left: 15px;
            background-size: cover;
            height: 400px !important;

            &__panel {
                text-shadow: $default-text-shadow;
                background: rgba(0,0,0,0.6);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px;

                &__text {
                    text-align: center;
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}