ul, ol, li {
  margin: 0 !important;
  padding: 0;
}

body {
  background: #F7fff7;
  font-size: 16px;
}

.layout-padding {
  padding: 75px 0;
}

h1 {
  font-size: 4rem;
}

html {
  scroll-behavior: smooth;
}

.btn {
  padding: 15px 30px;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px #000;
}
.btn__primary {
  background: #4ECDC4;
  color: white !important;
}
.btn__primary:hover {
  transform: scale(1.05);
}
.btn__secondary {
  background: #FF6B6B;
  color: white !important;
}
.btn__secondary:hover {
  transform: scale(1.05);
}

.main-body__about-us {
  text-align: center;
}
.main-body__about-us__slick__slide {
  margin-left: 15px;
  margin-right: 15px;
  background: #264c5f;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px #000;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.main-body__about-us .slick-list {
  padding: 20px 50px !important;
}
.main-body__about-us .slick-center {
  transform: scale(1.1);
  background: #2d5b71;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.main-body__contact {
  background: #264c5f;
}
.main-body__contact__title {
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
}
.main-body__contact__form__input {
  display: block;
  width: 50%;
  margin: auto;
  padding: 5px 0px;
  margin-top: 15px;
}
.main-body__contact__form__hidden {
  display: none;
}
.main-body__contact__form__submit {
  display: block !important;
  width: 50%;
  margin: auto;
  margin-top: 15px;
}
.main-body__contact__form__label {
  color: #fff;
}
.main-body__contact label {
  width: 50%;
  margin: auto;
  display: block;
  padding-top: 15px;
}
.main-body__contact label span {
  color: red;
  font-size: 20px;
  padding-left: 4px;
}

.main-body__content {
  padding: 75px 0;
}
.main-body__content__copy {
  max-width: 100%;
  margin: auto;
  text-align: center;
}
.main-body__content__copy h1 {
  padding-bottom: 20px;
}

#map {
  height: 70vh;
  width: 100%;
}

.map {
  padding: 75px 0;
  background: #264c5f;
}
.map__title {
  color: #fff;
  text-shadow: 1px 1px #000;
  padding-bottom: 40px;
  text-align: center;
}
.map__wrapper {
  max-width: 100%;
  margin: auto;
}
.map__searcher {
  height: 70vh;
  width: 100%;
  background: #F7fff7;
  overflow-y: scroll;
}
.map__searcher__panel {
  padding: 20px;
  margin: 20px;
  color: white;
  background: #2a3439;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.map__searcher__overlay {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.map__searcher__overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.map__searcher__overlay__text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  padding: 20px;
  background: #FF6B6B;
  color: #fff;
  text-shadow: 1px 1px #000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.map__searcher__overlay__text p {
  margin: 0;
}
.map__searcher__hide {
  display: none;
}
.map__searcher__show {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}
.show-overlay .overlay {
  opacity: 0.8;
  visibility: visible;
}

.packages {
  padding-top: 75px;
}
.packages__panel {
  padding: 10px;
}
.packages__slick__slide {
  margin: auto;
  margin-right: 15px;
  margin-left: 15px;
  background-size: cover;
  height: 400px !important;
}
.packages__slick__slide__panel {
  text-shadow: 1px 1px #000;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}
.packages__slick__slide__panel__text {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.packages__slick__slide__first {
  background-image: url("assets/images/package-images/holiday-img-1.png");
}
.packages__slick__slide__second {
  background-image: url("assets/images/package-images/holiday-img-2.png");
}
.packages__slick__slide__third {
  background-image: url("assets/images/package-images/holiday-img-3.png");
}
.packages__slick__slide__fourth {
  background-image: url("assets/images/package-images/holiday-img-4.jpg");
}
.packages__slick__slide__fifth {
  background-image: url("assets/images/package-images/holiday-img-5.jpg");
}
.packages__slick__slide__sixth {
  background-image: url("assets/images/package-images/holiday-img-6.jpg");
}

.main-body__slick__slide {
  height: 100vh !important;
  background-position: center;
  background-size: cover;
}
.main-body__slick__slide::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.main-body__slick__slide__text {
  position: absolute;
  z-index: 1;
  color: white;
  width: 50%;
  top: 50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .main-body__slick__slide__text {
    width: 100%;
  }
}
.main-body__slick__slide__text a {
  width: 55%;
  margin-top: 10px;
}
.main-body__slick__slide__first {
  background-image: url("assets/images/banner-images/winter-image.jpg");
}
.main-body__slick__slide__second {
  background-image: url("assets/images/banner-images/summer-image.jpg");
}
.main-body__slick__slide__third {
  background-image: url("assets/images/banner-images/all-inclusive.jpg");
}

.main-header {
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}
.main-header__nav {
  display: flex;
  list-style: none;
  padding: 20px 0;
}
.main-header__nav__item {
  padding: 0 0 0 40px;
  font-size: 1.2rem;
}
.main-header__nav__item a {
  color: #fff;
}
.main-header__nav__item a:hover {
  color: #ff3838;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.main-header__nav-bars {
  padding: 20px;
}
.main-header__nav-bars i {
  color: #4ECDC4;
  font-size: 2.2rem;
}
.main-header__nav-bars i:hover {
  cursor: pointer;
}

.hidden-nav {
  background: #FF6B6B;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 85%;
  max-width: 250px;
  height: 100%;
  transform: translateX(-110%);
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.hidden-nav__hide {
  opacity: 0;
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  visibility: hidden;
}
.hidden-nav__panel {
  overflow: hidden;
  height: 100%;
}
.hidden-nav__panel__inner {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: 100%;
}
.hidden-nav__panel__inner::-webkit-scrollbar {
  display: none;
}
.hidden-nav__panel__list {
  list-style: none;
  text-align: center;
}
.hidden-nav__panel__list__item {
  padding-top: 10px;
}
.hidden-nav__panel__list__item a {
  color: #1A535C;
}
.hidden-nav__panel__list__item a:hover {
  color: #0f2f34;
  text-decoration: none;
}
.hidden-nav__panel__image-nav {
  padding-top: 30px;
}
.hidden-nav__panel__image-nav__image {
  height: 215px;
  margin: 15px;
  background-size: cover;
  background-position: center;
}
.hidden-nav__panel__image-nav__image p {
  width: 100%;
  padding: 10px 0;
  background: #4ECDC4;
  text-align: center;
}
.open-nav .hidden-nav {
  transform: translateX(0%);
}
.open-nav .hidden-nav__hide {
  opacity: 1;
  visibility: visible;
}
.hidden-nav__title {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px #000;
}

.scroll-top {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 20px 40px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.scroll-top__link {
  background: #FF6B6B;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}
.scroll-top__link__icon {
  color: #fff;
}
.scroll-top__link:hover {
  background: #ff3838;
  color: #e6e6e6;
}
.scroll-top__show {
  opacity: 1 !important;
}

/*# sourceMappingURL=main.css.map */
