.btn {
  padding: 15px 30px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px #000;
}
.btn--primary {
  background-image: linear-gradient(#5BC0EB, #b6e3f6);
  color: #feee7e !important;
}
.btn--primary:hover {
  transform: scale(1.05);
}
.btn--secondary {
  background-image: linear-gradient(#FA7921, #fcb585);
  color: #feee7e !important;
}
.btn--secondary:hover {
  transform: scale(1.05);
}

ul, ol, li {
  margin: 0 !important;
  padding: 0;
}

.layout-padding {
  padding: 75px 0;
}

#map {
  height: 50vh;
  width: 100%;
}

.map {
  padding-top: 90px;
  padding-bottom: 75px;
  background: #5BC0EB;
}
.map__title {
  color: #FDE74C;
  text-shadow: 1px 1px #000;
  text-align: center;
  padding-bottom: 40px;
}
.map__wrapper {
  max-width: 80%;
  margin: auto;
}
.map .row {
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}
.show-overlay .overlay {
  opacity: 0.8;
  visibility: visible;
}

.main-header {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.main-header__nav {
  display: flex;
  list-style: none;
  padding: 20px 0;
}
.main-header__nav__item {
  padding: 0 0 0 40px;
  font-size: 18px;
}
.main-header__nav__item a {
  color: #FDE74C;
}
.main-header__nav__item a:hover {
  color: #fce01a;
  text-decoration: none;
}
.main-header__nav-bars {
  padding: 20px;
}
.main-header__nav-bars i {
  color: #5BC0EB;
  font-size: 35px;
}
.main-header__nav-bars i:hover {
  cursor: pointer;
}

.hidden-nav {
  background: #333333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 85%;
  max-width: 250px;
  height: 100%;
  transform: translateX(-110%);
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.hidden-nav__hide {
  opacity: 0;
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  visibility: hidden;
}
.hidden-nav__panel {
  overflow: hidden;
  height: 100%;
}
.hidden-nav__panel__inner {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: 100%;
  widows: 110%;
}
.hidden-nav__panel__inner::-webkit-scrollbar {
  display: none;
}
.hidden-nav__panel__list {
  list-style: none;
  text-align: center;
}
.hidden-nav__panel__list__item {
  padding-top: 10px;
}
.hidden-nav__panel__list__item a {
  color: #FDE74C;
}
.hidden-nav__panel__list__item a:hover {
  color: #fce01a;
  text-decoration: none;
}
.hidden-nav__panel__image-nav {
  padding-top: 30px;
}
.hidden-nav__panel__image-nav__image {
  height: 215px;
  margin: 15px;
  background-size: cover;
  background-position: center;
}
.hidden-nav__panel__image-nav__image p {
  width: 100%;
  padding: 10px 0;
  background: #5BC0EB;
  text-align: center;
}
.open-nav .hidden-nav {
  transform: translateX(0%);
}
.open-nav .hidden-nav__hide {
  opacity: 1;
  visibility: visible;
}
.hidden-nav__title {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px #000;
}

.main-body__slick__slide {
  height: 100vh !important;
  background-position: center;
}
.main-body__slick__slide::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.main-body__slick__slide__text {
  position: absolute;
  z-index: 1;
  color: white;
  top: 50%;
  width: 30%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-body__slick__slide__text a {
  width: 55%;
  margin-top: 10px;
}
.main-body__content {
  padding: 75px 0;
}
.main-body__content__copy {
  max-width: 100%;
  margin: auto;
  text-align: center;
}
.main-body__content__copy h1 {
  padding-bottom: 20px;
}
.main-body__contact__title {
  text-align: center;
  padding-bottom: 20px;
}
.main-body__contact__form__input {
  display: block;
  width: 50%;
  margin: auto;
  padding: 5px 0px;
  margin-top: 15px;
}
.main-body__contact__form__hidden {
  display: none;
}
.main-body__contact__form__submit {
  display: block !important;
  width: 50%;
  margin: auto;
  margin-top: 15px;
}
.main-body__contact label {
  width: 50%;
  margin: auto;
  display: block;
  padding-top: 15px;
}
.main-body__contact label span {
  color: red;
  font-size: 20px;
  padding-left: 4px;
}

.packages {
  padding-top: 75px;
}
.packages__panel {
  padding: 10px;
}
.packages__slick__slide {
  margin: auto;
  margin-right: 15px;
  margin-left: 15px;
  background-size: cover;
  height: 400px !important;
}
.packages__slick__slide__panel {
  text-shadow: 1px 1px #000;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}
.packages__slick__slide__panel__text {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=main.css.map */
