// VARIABLES //

$primary-color: #5BC0EB;
$secondary-color: #FA7921;
$default-link-color: #FDE74C;

$default-text-shadow: 1px 1px #000;
$default-transition: all 0.2s ease-in-out;
$default-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);

//main-header

.main-header {
    width: 100%;
    position: absolute;
    z-index: 1;

    &__nav {
        display: flex;
        list-style: none;
        padding: 20px 0;

        &__item {
            padding: 0 0 0 40px;
            font-size: 18px;

            a {
                color: $default-link-color;

                &:hover {
                    color: darken($default-link-color, 10%);
                    text-decoration: none;
                }
            }
        }
    }

    &__nav-bars {
        padding: 20px;

        i {
            color: $primary-color;
            font-size: 35px;

            &:hover {
                cursor: pointer;
            }
        }

    }
}

//main-body

.main-body {

    //top slider

    &__slick {

        &__slide {
            height: 100vh !important;
            background-position: center;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                position: absolute;
            }

            &__text {
                position: absolute;
                z-index: 1;
                color: white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    // overlay content

    &__content {
        padding: 75px 0;

        &__copy {
            max-width: 100%;
            margin: auto;
            text-align: center;

            h1 {
                padding-bottom: 20px;
            }
        }
    }
}