
//buttons

.btn {
    padding: 15px 30px;
    font-size: 1.5rem;
    transition: $default-transition;
    text-shadow: $default-text-shadow;


    &__primary {
        background: $primary-color;
        color: lighten($default-body-color, 10%)  !important;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__secondary {
        background: $navigation-color;
        color: lighten($default-body-color, 10%)  !important;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__tertiary {
        border: 2px solid $primary-color;
        color: lighten($default-body-color, 10%)  !important;

        &:hover {
            transform: scale(1.05);
        }

        &__alt {
            border: 2px solid $navigation-color;
            color: lighten($default-body-color, 10%)  !important;
        }    
    }

    &__searcher {
        background: $navigation-color;
        padding: 10px 20px;
        font-size: 1rem;
        color: $white-color;
        margin-top: 15px;
        &:hover {
            color: darken($white-color, 5%);
            background: darken($navigation-color, 5%);
        }
    }
}

.options {
    cursor: pointer;
}