
//buttons

.btn {
    padding: 15px 30px;
    font-size: 20px;
    transition: $default-transition;
    text-shadow: $default-text-shadow;


    &__primary {
        background: $primary-color;
        color: lighten($default-body-color, 10%)  !important;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__secondary {
        background: $navigation-color;
        color: lighten($default-body-color, 10%)  !important;

        &:hover {
            transform: scale(1.05);
        }
    }
}